<h1>
    <%= @movie.title %>
</h1>
<h2>
    <%= @movie.release.strftime '%A, %B %e, %Y' unless @movie.release.nil? %>
</h2>

<ul>
    <% @movie.actors.each do |actor| %>
        <li>
            <%= actor.name %>
        </li>
    <% end %>
</ul>

<% if @current_user.present? %>
    <div>
        <%= link_to 'Edit movie', edit_movie_path(@movie) %>
        <%= link_to 'Delete movie', @movie, :method => 'delete', :data => { :confirm => 'Sure?' } %>
    </div>
<% end %>