<% if @current_user.favourites.length > 0 %>
    <div class="user-options-show">
        <%= link_to 'New Favourite list', new_favourite_path(@favourite), :class => 'user-show-link' %>
    </div>
<% end %>

<div class="center-block">
    <h1 class="all-page-headers">
        Hey <%= @current_user.name %>!
    <br>
    <span class="other-header">
        Ready for movie night?
    </span>

    <% if @current_user.favourites.length > 0 %>
    <h3 class="all-page-headers other-header">
        Check out your current favourite lists:
    </h3>

    <% @current_user.favourites.each do |favourite| %>
        <%= link_to(favourite_path(favourite.id), :class => 'title-path') do %>
            <p class="list-item-container fav-item">
                <%= favourite.name %>
            </p>
        <% end %>
    <% end %>
    <% else %>
        <h3 class="all-page-headers other-header">
            You have no favourite lists yet. Want to create one?
        </h3>
        <p class="list-item-container fav-item">
            <%= link_to("new favourite list", new_favourite_path, :class => "fav-item") %>
        </p> 
    <% end %>

    
</div>



