<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', '/' %>
      ||
      <%= link_to 'All actors', actors_path %>
      <%= link_to 'New actor', new_actor_path %>
      ||
      <%= link_to 'All directors', directors_path %>
      <%= link_to 'New director', new_director_path %>
    </nav>
    <%= yield %>
  </body>
</html>
