<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', '/' %>
      ||
      <%= link_to 'All actors', actors_path %>
      ||
      <%= link_to 'All directors', directors_path %>
      ||
      <%= link_to 'All movies', movies_path %>
      ||
      <%= link_to 'All genres', genres_path %>
      ||
      <% if @current_user.present? %>
        <%= link_to 'New actor', new_actor_path %>
        ||
        <%= link_to 'New director', new_director_path %>
        ||
        <%= link_to 'New movie', new_movie_path %>
        ||
        <%= link_to 'New genre', new_genre_path %>
        ||
      <% end %>

      <% if @current_user.present? %>
        <%= link_to "Log out #{@current_user.name}", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        ||
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
